
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    padding: 30px 0;
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.header__box ul {
    display: flex;
    column-gap: 33px;
}

.header__box li {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    font-family: Inter;
}

.header__box li:hover::after {
    content: "\25BC";
    position: absolute;
    bottom: 0px;
    right: -15px;
}

.imgs__header {
    display: flex;
    column-gap: 21px;
}

.carousel {
    position: relative;
    padding: 60px 0 75px;
}

.carousel__box {
    background-color: rgb(220, 229, 226);
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.carousel__box h1 {
    font-size: 58px;
    font-weight: 400;
    line-height: 69.6px;
    font-family: "Readex Pro";
}

.carousel__box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin: 19px 0 30px;
}

.carousel__left {
    margin: 0 132px 0px 56px;
}
.carousel__left p{
    font-family: Inter;
}
.carousel__box button {
    width: 170px;
    height: 50px;
    border-radius: 200px;
    border: 1px solid #000;
    background: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}
.register{
    width: 400px;
    background-color: #DCE5E2;
    color: black;
    padding: 40px 30px 100px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    display: none;
    z-index: 100;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.register.active{
    display: block;
}
.register ul{
    display: flex;
    justify-content: center;
    margin-top: 20px ;
}
.register ul :nth-child(2n){
    color: midnightblue;
}
.register input{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-left: 25px;
    margin-top: 20px; 
}
.register h2{
    font-size: 30px;
    font-weight: 600;
}
.register li{
    font-size: 15px;
    font-weight: 600;
}
.register button{
    width: 100%;
    height: 40px;
    color: white;
    background: midnightblue;
    font-size: 15px;
    font-weight: 400;
    margin: 35px 0;
}
.register h3{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.offers h2 {
    text-align: center;
    font-family: "Readex Pro";
    font-size: 42px;
    font-weight: 400;
    line-height: 52.5px;
    margin-bottom: 5px;
}

.p_title{
    text-align: center;
    font-family: "Readex Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}
.p_title{
    font-family: "Readex Pro";
}
.offers__left {
    padding: 0 42px 0 42px;
    width: 613px;
    height: 472px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #FFFAFA;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7),
        inset 0 0 20px rgba(255, 255, 255, 0.7);
    flex-direction: column;
    align-content: space-between;
}

.offers__watch {
    height: 270px;
    width: 616px;
    margin-top: 93px;
    margin-left: -43px;
    flex-direction: row;
}

.watch_img {
    height: 270px;
    width: 381px;
}

.watch_p {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.laptop {
    width: 90%;
    height: 377px;
}

.p_laptop,
.p_phone {
    font-size: 15px;
    font-weight: 400;
    line-height: 19.2px;
    width: 100%;
}

.p_laptop,
.p_solution {
    text-align: end;
}

.p_phone,
.p_life {
    text-align: center;
}

.p_phone {
    margin-top: 41px;
}

.p_solution,
.p_life {
    font-family: "Readex Pro";
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    width: 100%;
}

.offers_p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.offers__box {
    margin-top: 55px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Readex+Pro:wght@160..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    width: 1294px;
    margin: 0 auto;
}

.offers__right {
    width: 300px;
    height: 792px;
    background-color: #FFFAFA;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7),
        inset 0 0 20px rgba(255, 255, 255, 0.7);
    margin-left: 16px;
}

.left{
    height: 850px;
}

.right{
    display: flex;
}

.offer_phone {
    width: 100%;
    margin-top: 30%;
}

.tablet {
    margin-top: 42px;
}

.p_tablet {
    margin-top: 30%;
}

/* Nursultan */
.most {
    padding: 72px 0 28px;
}

.most h3 {
    color: #000;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px;
}

.most__text {
    color: #000;
    font-family: "Readex Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin: 9px 0 59px;
}
.most__lines{
    display: flex;
}
.most__line__box {
    width: 302.5px;
    height: 396px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.most__line__box:hover{
    border-radius: 40px;
    background: #afa9a986;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.most__line__box h4 {
    color: #000;
    font-family: "Readex Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
}

.most__line__box p {
    color: #4B4B4B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    margin: 9px 0 25px;
}

.most__line__box h6 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
}

.most__line {
    display: flex;
    column-gap: 28px;
}
.around{
    padding: 78px 0 28px;
}
.around h3{
    color: #000;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.5px;
}
.around__text{
    color: #000;
    font-family: "Readex Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    margin: 9px 0 31px;
}
.around__line{
    display: flex;
    justify-content: space-between;
}
.around__box{
    width: 413px;
    height: 453px;
    border-radius: 16px;
    background: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.around__box p{
    color: #000;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
}
.around__box h5{
    color: #000;
    text-align: center;
    font-family: "Readex Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 30px;
}
.around__box button{
    display: block;
    width: 190px;
    height: 50px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    text-transform: capitalize;
    border-radius: 35px;
    border: 1px solid black;
}
.around__box button:hover{
    cursor: pointer;
    background: #9b959586;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7),
        inset 0 0 20px rgba(255, 255, 255, 0.7);    
}


/* Bekzhan */
.search__list h2{
    font-family: Readex Pro;
    font-size: 42px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
}
.search__list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}
.search__input{
    width: 650px;
    height: 60px;
    background:linear-gradient(0deg, #F8F9FA, #F8F9FA);
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-top:15px ;
}
.search__input img{
    margin:0 20px;
}
.main__search input{
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    border: none;
    width: 107px;
    background: none;
    outline: none;
}
.main__search input::placeholder{
    color: black;
}
.list__btns{
    align-items: center;
    text-align: center;
    width: 660px;
    margin-top: 18px;
}
.list__btns button{
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 7px;
    border-radius: 200px;
    border: 1px solid #C5C5C5;
    background: #FFF;
    padding: 12px 22px;
}

.main__products{
    margin-top: 70px;
}
.products__title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.products__title h2{
    text-align: center;
    font-family: "Hind Siliguri";
    font-size: 44px;
    font-weight: 600;
}
.products__menu{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.products__title a:nth-child(1){
    color: var(--c-72535, #C72535);
}
.products__title a{
    color: #000;
    text-decoration: none;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.product__cards{
    display: flex;
    justify-content: space-between;
    margin-top: 30px

}
.product__card{
    cursor: pointer;
    width: 360px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-top: 20px;
}
.product__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
}
.order__title{
    text-align: left;
    padding: 35px;
}
.order__title h2{
    font-family: "Hind Siliguri";
    font-size: 25px;
    font-weight: 600;
}
.product__card:hover{
    transform: rotate(20px);
    transition: 1s;
}
.product__card:hover{
    box-shadow: -15px 14px 20px 1px rgba(75, 132, 176, 0.39);
}
.product__card:hover h2{
    display: none;
}
.product__card:hover .order__images{
    display: flex;
    justify-content: space-between;
}
.product__card:hover .order__title{
    background: #FAFAFA;
    
}
.product__card:hover .order__spans{
    margin-top:15px;
}
.span{
   
    text-align: center;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}
.span__sale{
    text-align: center;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    text-decoration-line:line-through;
}
.order__images{
    display: none;
    align-items: center;
    column-gap: 70px;    
}
.rating__stars{
    display: flex;
}
.star__item{
    font-size: 20px;
    color:#DCE5E2;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.5s;
}

.banner__registration{
    display: flex;
    justify-content: center;
}
.search__banner{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 935px;
    background: #DCE5E2;
    padding: 47px;
    border-radius: 16px;
}
.search__banner h2{
    text-align: center;
    font-family: "Readex Pro";
    font-size: 42px;
    font-weight: 400;
    line-height: 52.5px;
}
.search__banner p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px; 
}
.search__banner img{
    margin: 14px 0;
}
.email__input{
    width: 400px;
    height: 50px;
    border-radius: 55px;
    border: 1px solid #000;
    background: #DCE5E2;
    display: flex;
    justify-content: left;
}
.email__input input{
    width: 285px;
}
.email__input input::placeholder{
    color: black;
}
.email__input button{
    background: black;
    color: white;
    border: none;
    width: 115px;
    border-radius: 0px 200px 200px 0px;
} 
.footer__content{
    display: flex;
    justify-content: center;
    font-family: Inter;
    background: #F8F9FA;
    padding: 45px;
    margin-top: 20px;
}
.footer__logo{
    width: 395px;
}
.footer__logo p{
    margin-top: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.footer__columns{
    display: flex;
    justify-content: space-between;
}
.footer__column{
    width: 197px;
    display: flex;
    flex-direction: column;
}
.footer__column a{
    text-decoration: none;
    color: #000;
    margin-top:20px;
    row-gap: 15px;
}

